# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
coverage.html

# Build output
dist/

# Dependency directories
vendor/

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# skraft
.skraft/config.toml
.skraft/ledger.db
.skraft/ledger.db-shm
.skraft/ledger.db-wal
